.page-links {
  display: flex;
  justify-content: center;
  margin: auto;
}

.page-link {
  text-align: center;
  width: 25px;
  text-decoration: none;
  margin: 5px 10px;
  font-size: 1.2rem;
}

.page-link:visited {
  color: black;
}

.page-link:hover {
  background-color: grey;
  border-radius: 50%;
  color: white;
}

.page-link.dark {
  color: brown;
}

.page-link.dark:hover {
  background-color: #fff;
  color: purple;
}

.MuiButton-root.auth-button:hover {
  background-color: yellow;
}
